* {
    padding: 0;
    margin: 0;
    font-family: "Cereal", sans-serif;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}


@font-face {
    font-family: "Cereal";
    src: url("assets/fonts/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2");
    font-weight: 100 900;
}

:root {
    /* colors */
    --color-text-default: #222222;
    --color-text-subtitle: #6A6A6A;

}

/* header  section*/

.header-top {
    width: 100%;
}

.search-container {
    margin: 12px 24px 0;
}

.search-button {
    background-color: white;
    padding: 10px 19px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-height: 56px;
    width: 100%;
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);

}

.search-button .button-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: centers;
    column-gap: 8px;
}

.button-contents .search-icon {
    height: 12px;
}

.button-contents .search-text {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    padding-left: 2px;
}

/* bottom header  */
.header-bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

}

.nav-icons-container {
    padding: 16px 56px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}



/* each nav item */
.nav-icon .nav-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 68px;
    margin-bottom: 8px;

}

.nav-icon.selected {
    border-bottom: 3px solid black;
}



.nav-content .nav-video {
    padding-top: 8px;
    padding-bottom: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-video video {
    /* height: 36px; */
    height: 20px;
    width: 36px;
    transform: scale(2);
}

.nav-video .new-tag {
 
    padding: 3px 6px; 
    border-radius: 10px 10px 10px 2px;
    cursor: pointer;
    position: absolute;
    top: -5px;
    left: 100%;
    box-shadow: 0 0.953955px 1.90791px rgba(60, 77, 107, 0.25), 0 3.81582px 5.72373px rgba(60, 77, 107, 0.25), inset 0 0 2px 0.5px #001c40, inset 0 -1px 3px #d7ebff;
    background: linear-gradient(357.5deg, #3e567c 1.59%, #3a5475 21.23%, #2d3c5b 58.6%, #809dc0 97.4%);
}
.new-tag .new-txt{
    color: #ffffff;
    line-height: 10px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.04em;
    font-size: 8px;
    cursor: pointer;

}

.nav-content .nav-title {
    font-size: 12px;
    line-height: 10px;
}

/* main section */
.main {
    width: 100%;
}

/* category titile styling */
.category-title {
    margin: 24px 16px 14px 16px;
}

.category-title span {
    font-size: 18px;
    line-height: 24px;
    padding-inline-end: 12px;
    font-weight: 600;
    color: var(--color-text-default);
}

.category-scroll {
    display: grid;
    padding: 4px 24px 8px 24px;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - 11px)/2);
    overflow-x: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    column-gap: 11px;
    justify-content: flex-start;
}

.category-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*   align-items: center; */
    /* height: 209.047px;
    width: 159px; */
    row-gap: 8px;
}

.card-img-div {
    aspect-ratio: 20/19;
    position: relative;
}

.items-overlay {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 12px 12px 0;
    grid-column-gap: 8px;

}

.guest-fav-cont {
    grid-row: 1;
    grid-column: 1 /3;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 14px;
    font-weight: 600;
    padding-block: 5.5px;
    padding-inline: 9.5px;
    display: inline-flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
    /* font-size: 14px;
    line-height: 20.02px; */
    max-width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.02), 0px 2px 6px 0px rgba(0, 0, 0, 0.04), 0px 4px 8px 0px rgba(0, 0, 0, 0.10);

}

.guest-fav-text {
    color: var(--color-text-default);
    font-size: 11px;
    line-height: 13px;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-overflow: ellipsis;
    font-weight: 600;
}

.heart-cont {
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
    height: 32px;
    width: 32px;
    margin-right: -4px;
    margin-top: -2px;
    padding-top: 2px;
    cursor: pointer;
}

.heart-icon {
    height: 24px;
    width: 24px;
}

.category-card .card-img {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.card-details {
    display: grid;
    column-gap: 2px;
    grid-template-columns: minmax(0, 1fr);
    margin-inline: 4px;
}

.card-title {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    color: var(--color-text-default);

}

.card-subtitle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 11px;
}

.sub-style {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    color: var(--color-text-subtitle);
}

.sub-rating {
    display: flex;
    flex-direction: row;
    gap: 2.5px;
    align-items: center;
}

.card-star-icon {
    height: 8px;
    width: 8px;
    line-height: 16px;
    display: block;
}