* {
    padding: 0;
    margin: 0;
    font-family: "Cereal", sans-serif;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}


@font-face {
    font-family: "Cereal";
    src: url("assets/fonts/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2");
    font-weight: 100 900;
}

:root {

    /* colors */
    --color-text-default: #222222;
    --color-text-subtitle: #6A6A6A;

}

/* header  section*/
.header {

    /* indebug */
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #FFFFFF;

}



.header-top {
    width: 100%;

}

.search-container {
    padding: 12px 16px 0;
}

.search-button {
    background-color: white;
    padding: 10px 19px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-height: 56px;
    width: 100%;
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
}

.search-button .button-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: centers;
    column-gap: 8px;
}

.button-contents .search-icon {
    height: 12px;
}

.button-contents .search-text {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    /* padding-left: 2px; */
}

/* bottom header  */
.header-bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

}

.nav-icons-container {
    padding: 16px 48px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    /* for underline which is moving */
}

/* each nav item */


.nav-icon .nav-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 68px;
    margin-bottom: 8px;
}



.moving-underline {
    position: absolute;
    bottom: 0px;
    height: 3px;

    /* width: 30px; */
    background: black;
    transition: 0.3s ease;
}

.moving-underline.scrolled {
    bottom: -3;

}

.header-desktop {
    display: none;
}

/* main section categories */
#categories {
    margin-bottom: 49px;
}

/* contains the video and the new icon */
.nav-content .nav-video {
    padding-top: 8px;
    padding-bottom: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* to reduce the scale of the icon when scrolling */
.nav-content .nav-video.scaleZero {
    /* display: none; */
    animation: shrinkVideo 2s ease both;
}

.nav-video.scaleZero .new-tag {
    /* display: none; */
    animation: shrinkVideo 2s ease both;

}

@keyframes shrinkVideo {
    from {
        transform: scale(2);
    }

    to {
        transform: scale(0);
    }
}

.nav-video video {
    height: 36px;

    width: 36px;
    transform: scale(2);
    /* 
    */
}


.new-tag {
    padding: 3px 6px;
    border-radius: 10px 10px 10px 2px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 100%;
    box-shadow: 0 0.953955px 1.90791px rgba(60, 77, 107, 0.25), 0 3.81582px 5.72373px rgba(60, 77, 107, 0.25), inset 0 0 2px 0.5px #001c40, inset 0 -1px 3px #d7ebff;
    background: linear-gradient(357.5deg, #3e567c 1.59%, #3a5475 21.23%, #2d3c5b 58.6%, #809dc0 97.4%);
}

.new-txt {
    color: #FFFFFF;

    line-height: 10px;

    font-weight: 700;
    text-align: center;
    letter-spacing: 0.04em;
    font-size: 8px;
    cursor: pointer;

}

.nav-content .nav-title {
    font-size: 12px;
    line-height: 10px;
    color: #6A6A6A;
}

.nav-icon.selected .nav-title {
    font-weight: 600;
}

/* main section */
.main {
    width: 100%;
}

/* category titile styling */
.category-title {
    margin: 24px 16px 14px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;



}

.ct-right-arrow {
    margin-left: 2px;
    padding-right: 12px;
}

.spacer {
    display: flex;
    flex: 1 1 0;
}

.title-arrows-cnt-tab {
    display: none;
}

.category-title span {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.18px;
    font-weight: 600;
    color: var(--color-text-default);
}

.category-scroll {
    display: grid;
    padding: 4px 16px 8px 16px;
    margin-top: -4px;
    margin-bottom: -8px;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - 11px)/2);
    overflow-x: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    column-gap: 11px;
    justify-content: flex-start;
}

.category-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*   align-items: center; */
    /* height: 209.047px;
    width: 159px; */
    row-gap: 8px;
    column-gap: 8px;
    scroll-snap-align: start;

}

.card-img-div {
    aspect-ratio: 20/19;
    position: relative;
}

.category-card .card-img {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    aspect-ratio: 20/19;
    object-fit: cover;
}

.items-overlay {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 12px 12px 0;
    grid-column-gap: 8px;
}


.guest-fav-cont {
    grid-row: 1;
    grid-column: 1 /3;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 14px;
    font-weight: 600;
    padding-block: 5.5px;
    padding-inline: 9.5px;
    display: inline-flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
    /* font-size: 14px;
    line-height: 20.02px; */
    max-width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.02), 0px 2px 6px 0px rgba(0, 0, 0, 0.04), 0px 4px 8px 0px rgba(0, 0, 0, 0.10);

}

.guest-fav-text {
    font-feature-settings: 'salt';
    color: var(--color-text-default);
    font-size: 11px;
    line-height: 13px;
    text-overflow: ellipsis;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Cereal", Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.heart-cont {
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
    height: 32px;
    width: 32px;
    margin-right: -4px;
    margin-top: -4px;
    padding-top: 2px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heart-icon {
    height: 24px;
    width: 24px;
}

.card-details {
    display: grid;
    row-gap: 2px;
    column-gap: 2px;
    grid-template-columns: minmax(0, 1fr);
    margin-inline: 4px;
}

.card-title {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    color: var(--color-text-default);
}

.card-subtitle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 11px;
}

.sub-style {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    color: var(--color-text-subtitle);
}

.sub-rating {
    display: flex;
    flex-direction: row;
    gap: 2.5px;
    align-items: center;
}

.card-star-icon {
    height: 8px;
    width: 8px;
    line-height: 16px;
    display: block;
}

/* inspitation section */
.Inspiration-section {

    padding: 48px 16px;
    background-color: #F7F7F7;
    position: relative;
}

.inspiration-container {

    border-bottom: 1px solid lightgrey;
    box-sizing: content-box;
    padding-bottom: 8px;
}

.inspiration-text {
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    color: var(--color-text-default);
    letter-spacing: -0.22px;
    line-break: strict;

}

.inspiration-arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.inspiration-arrows .arrow-cnt {
    height: 50px;
    width: 36px;
    display: flex;
    align-items: center;

}

.arrow-cnt:nth-child(1) {
    justify-content: flex-start;
    position: absolute;
    left: 4px;

}

.arrow-cnt:nth-child(2) {
    justify-content: flex-end;
    position: absolute;
    right: 4px;
}

.inspiration-arrows img {
    height: 16px;
    width: 16px;
}

/* footer section */
.footer-container {
    padding: 0 24px;
    background-color: #F7F7F7;
    padding-bottom: 15px;
    /* instead of the 80px padding bottom  */
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));

}

.links-group {
    grid-column: 1 / -1;
    padding: 24px 0;
    border-bottom: 1px solid #DDDDDD;
}

/* heading container */
.links-head {
    margin-bottom: 16px;
    margin-block-end: 16px;
}

/* heading */
.links-head h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

/* container for all links */
.links-group .links ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.links-group .links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* each link */
.links a {
    font-size: 14px;
    font-style: normal;
    line-height: 18px;
    color: var(--color-text-default);
}

.links li {
    list-style: none;
    line-height: 20.01px;
}

/* footer social */
.footer-lan-cur {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.lng-select {
    margin-right: 4px;
    padding: 6px 0;
    padding-right: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
}

.globe-icon {
    height: 16px;
    width: 16px;
}

.lng-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: var(--color-text-default);
}

.currency {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    padding: 6px 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.footer-social {
    padding: 8px 0;
    /* margin-left: -8px; */
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;

}

.footer-social a img {
    height: 16px;
    width: 16px;

}

.tab-sep {
    display: none;
}

.copyright {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 20.02px;
    color: var(--color-text-default);
    /* padding-top: 2.5px; */
    /* check for other screen sizes */

}

.terms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.02px;
    color: var(--color-text-default);
}

.seperator {

    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    padding: 0 8px;
}

/* footer-bottom */
.footer-bottom {
    padding: 24px 0;
    /* padding-bottom: calc(70px + 25px); */
    /* position: relative; */
}

.lan-social-cnt {
    display: block;
}

/* floating bottom navigation bar */
.floating-footer {
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0px;
    left: 10rem;
    background-color: white;
    height: 65px;
    transition: 0.3s ease-in;
}

.floating-footer.invisible {
    transform: translateY(100%);

}

.bottom-navbar {

    width: 100%;
    display: flex;
    gap: 2px;
    justify-content: center;

}



.bn-img-cnt {
    height: 30px;
    width: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.bn-btn-img {
    display: block;
    fill: none;
    height: 24px;
    width: 24px;
    stroke: rgb(106, 106, 106);
    stroke-width: 2;
    overflow: visible;
}

.bn-button {
    padding: 0 2px;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex: 1 1 0%;
    max-width: 20%;
    min-width: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(106, 106, 106);
}



.bn-button.selected .bn-btn-img {
    stroke-width: 2.66667;
    stroke: rgb(218, 18, 73);
}

.bn-button.selected .bn-btn-txt {
    font-weight: 500;
    color: rgb(218, 18, 73);
}


.bn-btn-txt {
    color: inherit;
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
}

@media screen and (min-width:375px) {
    /* header */

    .search-container {
        padding: 12px 24px 0;
    }

    .nav-icons-container {
        padding: 16px 56px 0;
    }


    .category-scroll {
        padding: 4px 24px 8px 24px;
    }

    .category-title {
        margin: 32px 24px 14px 24px;
    }

    /* inspiration section */
    .Inspiration-section {
        padding: 48px 24px;
    }

    .arrow-cnt:nth-child(1) {
        left: 12px;
    }

    .arrow-cnt:nth-child(2) {
        right: 12px;
    }

}

@media screen and (min-width:412px) {
    .nav-icons-container {
        padding: 16px 64px 0;
    }
}

@media screen and (min-width:609px) {
    /* the size of the nav icons reduces*/
}

@media screen and (min-width:744px) {
    .header-top {
        display: none;
    }

    .header-bottom {
        display: none;
    }


    .header-desktop {
        display: block;
        background: linear-gradient(180deg, #ffffff 39.9%, #f8f8f8 100%);
        padding-bottom: 40px;
        border-bottom: 1.2px solid #EBEBEB;
    }

    .header-top-dsk {
        display: flex;
        flex-direction: row;
        /*     align-items: center; */
        justify-content: space-between;
    }

    .logo-desk {
        position: relative;

    }

    .airbnb-tab-logo {
        position: absolute;
        top: 24px;
    }

    .airbnb-desk-logo {
        display: none;
    }

    .actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        height: 80px;
    }

    .actions>div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F2F2F2;
        border-radius: 50%;
    }

    .act-glb-cnt {
        height: 40px;
        width: 40px;
    }

    .act-menu-cnt {
        height: 40px;
        width: 40px;
    }

    .header-top-dsk {
        padding-inline: 24px;
    }


    /* nav icons desktop */
    .nav-icons-container-desk {
        position: relative;
        /* right: -30px; */
        right: -46px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 22px 0 24px;
        width: 500px;
        position: relative;
        column-gap: 35px;
        transform: 05s ease;
        
    }
    .nav-icons-container-desk.scrolled{
        transform: translateX(-100%);
    }

    /* video & titile */
    .nav-content-desk {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 12px;
    }

    .nav-video-desk {
        position: relative;
    }

    /* .scale-vid-desk{
        transform: scale(1.1);
    } */

    .new-tag-desk {
        position: absolute;
        top: -10px;

    }

    .new-txt-desk {
        list-style: 11.44px;

    }


    .nav-title-desk {

        font-size: 14px;
        line-height: 18px;
        color: #222222;
        font-weight: 400;
        cursor: pointer;
    }

    .nav-title-desk.selected {
        font-weight: 600;

    }

    .home-icon-dsk {
        margin-left: -5px;
        /*         padding-left: 5px; */
    }

    .ser-icon-desk {
        margin-left: -2px;
        padding-left: 2px;
    }

    .home-dsk {
        margin-left: 16px;
    }

    .exp-dsk {
        margin-left: 8px;
    }

    .ser-desk {
        margin-left: 12px;
    }

    .nav-video-desk video {
        height: 36px;
        width: 36px;
        transform: scale(2);
    }


    .moving-underline-desk {
        height: 3px;
        background-color: black;
        min-width: 30px;
        width: calc(179px - 79px);
        transform: translateX(48px);
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .header-bottom-dsk {
        padding-inline: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;


    }

    .searchbar-desk {
        border-radius: 32px;

        height: 66px;
        max-width: 850px;
        width: 100%;

        /* display: flex; */
        grid-template-columns: minmax(0, 2fr) 1px minmax(0, 1fr) 1px minmax(0, 1fr) 1px minmax(0, 2fr);
        display: grid;
        align-items: center;
        column-gap: 2px;
        background-color: #FFFFFF;
        border: 1px solid #DDDDDD;
        box-shadow: rgba(0, 0, 0, 0.1) 0 8px 24px 0;
        position: relative;
        /* for search bubble */
    }

    .searchbar-desk.second-child {
        display: inline-flex;
        width: fit-content;
        height: 48px;
    }

    .searchbar-desk::selection {
        background-color: #EBEBEB;
    }



    .divider-bubble {
        height: 32px;
        background-color: #DDDDDD;
        width: 1px;
    }

    .tsb-head-cnt {
        font-size: 14px;
        line-height: 20.02px;
        height: 18px;

    }

    .tsb-head {
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        width: 100%;
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        padding-bottom: 2px;

    }

    .tsb-span {
        width: 100%;
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: #6A6A6A;
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
    }

    .tsb-input {
        border: none;
    }

    .tsb-input:focus {
        border: none;
        outline: none;
        color: #222222;
        font-weight: 500;
        line-height: 18px;
    }

    .bubble {
        padding: 15px 24px;
        border-radius: 32px;
        width: 100%;

    }

    .first-child {
        display: flex;
    }

    .first-child.scrolled {
        display: none;
    }

    .second-child {
        align-items: center;
        display: none;
        width: fit-content;
    }

    .second-child.scrolled {
        display: flex;
    }


    .where-bubble {
        padding: 15px 32px;
    }

    .who-bubble {

        padding-right: 130px;
    }

    /* second child */
    .sc-homeImg-cnt {
        height: 48px;
    }

    .sc-homeImg {
        height: 48px;
        width: 48px;
        margin-left: 8px;
    }

    .sc-span-cnt {
        padding-inline: 16px;
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;
    }

    .first-sc-span {
        padding-left: 0;
    }

    .last-sc-span {
        padding-right: 50px;
    }

    .search-bubble {
        position: absolute;
        right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
        padding: 10px;
        margin: 10px;
        border-radius: 24px;
        gap: 8px;
        height: 48px;
        min-width: 48px;
    }

    .sb-second-child {

        height: 32px;
        width: 32px;
        min-width: 0;
        min-height: 0;
        /* margin: 0; */


    }

    .sb-second-child img {
        height: 12px;
        width: 12px;
    }

    .search-bubble-txt {
        display: none;
        font-size: 16px;
        font-weight: 500;
        color: #FFFFFF;
        letter-spacing: normal;
        line-height: 20px;
        cursor: pointer;
    }

    /* categroy section */
    .category-scroll {
        padding: 0;
        /* remove padding and set margin */
        margin: 0 24px;
        grid-auto-columns: calc(25% - 8.25px);
    }

    .category-title span {
        font-size: 20px;

    }

    .title-arrows-cnt-tab {
        display: flex;
        justify-content: flex-end;
        gap: 4px;
    }

    .tact-arrows {
        border-radius: 50%;
        height: 24px;
        aspect-ratio: 1/1;
        border: none;
    }

    .tact-arrows img {
        height: 12px;
        aspect-ratio: 1/1;
    }

    /* disabled button style when no more items in left */
    .tact-disabled {
        background-color: transparent;
        border: 1px solid #C1C1C1;
        opacity: 0.2;
    }

    /* footer */
    .footer-top {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        column-gap: 16px;
        padding-block: 24px 32px;
    }

    .links-group {
        grid-column: span 2;
        padding: 0;
    }

    /* footer */
    .footer-container {
        padding-bottom: 0;
    }

    /* footer bottom  */
    .lan-social-cnt {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
    }

    .footer-lan-cur {
        margin-bottom: 0;
    }

    .footer-social {
        margin-bottom: 0;
    }

    .footer-terms {
        display: flex;
        align-items: start;
    }

    .tab-sep {
        display: inline;
    }

    .copyright {
        display: inline;

    }


    /* floating footer */
    .floating-footer {
        display: none;
    }

}

@media screen and (min-width:950px) {

    /* header */
    .header-top-dsk {
        padding-inline: 32px;
    }

    .airbnb-tab-logo {
        display: none;

    }

    .airbnb-desk-logo {
        display: flex;
        position: absolute;
        top: 24px;

    }

    /* grid layout */
    .category-scroll {
        grid-auto-columns: calc(20% - 8.8px);
    }

    .category-scroll {
        padding: 4px 32px 8px 32px;
    }

}